{{ $currentPage := . }}
{{ $subSections := slice }}

<div class="list-group list-group-horizontal mb-3 mt-3">
    {{ range .FirstSection.Sections }}
        {{ if  $currentPage.IsDescendant . }}
        {{ $subSections = .Sections }}
        {{ end }}
    <a
            href="{{ .Permalink | relLangURL }}"
            class="list-group-item list-group-item-action
            {{ if  $currentPage.IsDescendant . }}active{{ end }}"
    >{{ .Params.menu_title }}</a>
    {{ end }}
</div>

<div class="text-right">
    {{ range $subSections }}
<!--    <a href="{{ .Permalink }}">{{ .Name }}</a> |-->
    {{ end }}
</div>